<!DOCTYPE html>
<html lang="en">
<head>
  <title>Title</title>
  <link href="/img/telefon.ico" name="favicon" rel="shortcut icon" type="image/vnd.microsoft.icon" />
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <script type="text/javascript" src="/js/jquery-1.11.2.min.js"></script>
  <script type="text/javascript" src="/js/bootstrap.min.js"></script>


<script type="text/javascript">
</script>
</head>
<body>
<h1>Hello</h1>
</body>
<footer>
</footer>
</html>
